.faq {
	width: 100%;
	margin-top: 3rem;
}

.faq h2 {
	text-align: center;
	font-style: italic;
}

.faq ol {
  list-style: none;
  padding: 0;
}

.faq ol > li {
	width: 90%;
	margin: 0 auto;
	position: relative;
	min-height: 30px;
	margin-bottom: 2rem;
}

.faq h3.question {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 30px;
	z-index: 1;
}

.faq .toggle:checked ~ h3.question,

.faq li:hover h3.question {
	/* color: #ffc404; */
}

.faq .icon {
	height: 18px;
	position: absolute;
	width: 18px;
	right: 0;
	top: 11px;
	z-index: 2;
}

.faq .icon:before,
.faq .icon:after {
	/* background: #fdfdfd; */
	content: '';
	height: 4px;
	right: 0;
	position: absolute;
	top: 0;
	width: 18px;
	transition: transform 500ms ease;
}

.faq .toggle:checked ~ .icon:before,
.faq .toggle:checked ~ .icon:after,
.faq li:hover .icon:before,
.faq li:hover .icon:after {
	/* background: #ffc404; */
}

.faq .toggle:not(:checked) ~ .icon:before {
	transform: rotate(180deg);
}
.faq .toggle:not(:checked) ~ .icon:after {
	transform: rotate(90deg);
}
.faq .toggle {
	width: 100%;
	height: 40px;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	z-index: 3;
}
.faq .border {
	height: 40px;
	/* border-bottom: 1px solid #fdfdfd; */
}
.faq li:hover .border,
.faq .toggle:checked ~ .border {
	/* border-bottom: 1px solid #ffc404; */
}
.faq .answer {
  padding: 15px 0 0 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  transition: .4s ease;
}
.faq .toggle:checked ~ .answer {
  height: auto;
  opacity: 1;
	z-index: 2;
}
.faq .answer > p {
	margin: 0;
	text-align: justify;
}